@{
    ViewBag.Title = "Home Page";
}

<head>
    <script src="~/Scripts/index.js"></script>
    @Styles.Render("~/Content/index.css")
</head>

<body>
    <div id="title"><b>&ltJohn Conway's Game of Life&gt</John></b></div>

    <canvas id="doodle" width="800" height="800"></canvas>
</body>